@media only screen and (max-width:430px) {
  .nav-bar,.list-item,.banner-area,.we-are-gamer,.career-full-area,.play-instantly-part{
   flex-direction: column;
   text-align: center;
  }
  .header .logo{
    margin-top: 20px;
  }
  .list-item a,button{
    font-size: 15px;
  }
  .list-item button{
    padding: 10px;
  }
  .padding-left-right{
    padding: 0 50px;
  }

  .banner-area h3,.we-are-gamer h2{
    font-size: 20px;
  }
  .banner-area h2{
    font-size: 50px;
  }
  .banner-area{
    margin: 80px 0;
  }
  .banner-area .banner-text{
    width: 100%;
    margin-bottom: 50px;
  }
  .we-are-gamer img, .we-are-gamer-content,.career-content,.career-img,.career-area img{
    width: 100%;
  }
  .funny-video .section-title h3,.play-instantly h3{
    font-size: 30px;
  }
  .funny-video-img,.career-full-area{
    flex-wrap: wrap;
  }
  .funny-video-para{
    font-size: 10px;
  }
  .career-area{
    display: none;
  }
  .footer .footer-list-item, .footer-social-icon, .footer-setting, .gray{
    gap:10px;
  }
  .footer .footer-list-item li, .fab,p{
    font-size: 15px;
    line-height: 30px;
  }
  .absolute-img img{
    width: 150px;
  }
  .play-instantly-area .absolute-img{
    position: relative;
    top: -150px;
    left: -170px;
  }
}